body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section{
    max-width: 100%;
    margin: 0 auto;
    padding: 80px;
}

.secondary {
    background-color: #f7e8f5;
}

.grid {
    display: grid;
    grid-gap: 40px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;  
}

.grid-3-col-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-col {
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    border-radius: 10px;
    max-width: 100%;
}

h4 {
    opacity: 0.4;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), 
    url('../Images/tokyo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 250px 100px;
}

header h3 {
    font-size: 30px;
    margin: 0px;
        letter-spacing: 3px;

}

header h1{
    font-size: 70px;
    margin: 0px;
        letter-spacing: 3px;
}

header h2{
    font-size: 24px;
        letter-spacing: 2px;

}

header a{
    text-decoration: none;
    letter-spacing: 2px;
    background-color: white;
    padding: 16px 32px;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
}



main h3 {
    margin: 0;
    font-size: 25px;
}

main p{
    font-size: 16px;
    line-height: 1.8;
    opacity: 0.7;
}

.primary img{
    filter:  contrast(105%) saturate(70%);

}

.secondary h3, h4 {
    text-align: center;
}

.card {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
}

.card img{
    filter:  contrast(105%) saturate(129%);

}

.embed{
    width: 100%;
    aspect-ratio: 16/9
}

.card h3 {
    text-align: left;
    font-size: 18px;
    letter-spacing: 3px;
}

.card h5{
    font-size: 16px;
    letter-spacing: 2px;
    margin: 20px 0px 0px 0px;
    opacity: 0.7;
}
.card p{
    font-size: 14px;
    margin: 0px 0px 20px 0px;
}

.card a{
    text-decoration: none;
    letter-spacing: 2px;
    background-color: #6b0b3b;
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 700px;
        display: flex;
    justify-content: center;
}

.media {
    text-align: center;
}

.media .grid-3-col {
    margin-top: 20px;
}

.photos {
    display: block;
    margin: 0 auto;
}

footer {
   background-image: linear-gradient(rgba(73, 31, 52, 0.8), rgba(107,11,59, 0.8)), url(../Images/tokyo\ footer.jpeg); 
   background-repeat: no-repeat;
   background-size: cover;
   
   color: white;
   font-size: 13px;
}


footer a {
    color:white;
    opacity: 0.7;
}

footer ul {
    margin:0px;
    padding: 0px;
}

footer li {
    list-style: none;
}

footer p{
    opacity: 0.7;
}

@media (max-width: 960px) {
    header {
        padding: 100px 50px
    }

    header h3 {
        font-size: 12px;
    }

    header h1 {
        font-size: 35px;
    }

    header h2{ 
        font-size: 13px;
        margin-bottom: 20px;
    }

    header a{
        font-size: 12px;
        padding: 12px 24px;
    }


.grid {
    grid-template-columns: 1fr;
    grid-gap: 20px
}

main img{
display: block;
margin: 0 auto
}

section {
    padding: 50px 30px;
}

.photos {
    display: block;
    margin: 0 auto;
}

    footer {
        font-size: 12px;
    }

}